.nav {
  grid-area: n;
  background-color: aquamarine;
  border-top-left-radius: 3em;
  padding: 40px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.activeLink {
  color: gold !important;
}
