.app-wrapper {
  margin: 0 auto;
  width: 900px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "h h"
    "n c ";
  grid-gap: 5px;
}

.header {
  grid-area: h;
  background-color: aquamarine;
  border-radius: 3em 1em;
}

.header img {
  width: 50px;
  padding-left: 20px;
}

.nav {
  grid-area: n;
  background-color: aquamarine;
  border-top-left-radius: 3em;
  padding: 20px;
}

.content {
  grid-area: c;
  background-color: rgb(238, 248, 245);
}

.content img {
  width: 500px;
  height: 100px;
}
